/* Form sign in */

.form-login {
  border: 4px solid #f1f1f1;
  margin-bottom: 2em;
}
input[type=text], input[type=password] {
  border-radius: 10px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.btn-login>button {
  margin: 0 0 0 .5rem;
}
.btn-signin>button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.btn-signin>button:hover {
  opacity: 0.8;
}
span>.psw {
  float: right;
  padding-top: 16px;
}

@media screen and (min-width: 320px) {
  span.psw {
    display: block;
    float: none;
  }
}